<mat-card>
  <p>Tag Replacer</p>
  <form class="input-form">
    <p>
      <mat-form-field class="Text-container">
        <mat-label>Input Text</mat-label>
        <textarea
          matInput
          placeholder="Input Text"
          [(ngModel)]="InputText"
          name="inputText"
        ></textarea>
      </mat-form-field>
    </p>
  </form>
</mat-card>
<mat-card>
  <div class="replacement-label">Replacement</div>
  <div class="list-button-row">
    <button mat-raised-button>Add</button>
    <button mat-raised-button color="primary">Remove</button>
  </div>
  <table mat-table [dataSource]="Tags" class="mat-elevation-z8">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- tags Column -->
    <ng-container matColumnDef="tag">
      <th mat-header-cell *matHeaderCellDef>Tag</th>
      <mat-cell *matCellDef="let element" [formGroup]="element">
        <mat-form-field floatLabel="never">
          <input matInput placeholder="tag" formControlName="tag" required />
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <!-- replacement Column -->
    <ng-container matColumnDef="replacement">
      <th mat-header-cell *matHeaderCellDef>Replacement</th>
      <mat-cell *matCellDef="let element" [formGroup]="element">
        <mat-form-field floatLabel="never">
          <input
            matInput
            placeholder="replacement"
            formControlName="replacement"
            required
          />
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
  </table>
</mat-card>
<mat-card>
  <form class="output-form">
    <p>
      <mat-form-field class="Text-container">
        <mat-label>Output Text</mat-label>
        <textarea
          matInput
          placeholder="Output Text"
          [(ngModel)]="OutputText"
          name="outputText"
          readonly
        ></textarea>
      </mat-form-field>
    </p>
  </form>
</mat-card>
