table {
  width: 100%;
}
.example-button-row {
  display: table-cell;
  margin-left: 25em;
  justify-content: space-between;
}

.replacement-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.list-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.Text-container{
  width: 100%;
}

.mat-row {
    display: inline-flex;
    min-width: 100%;
}

